services:
  - type: web
    name: analisis-encuestas
    env: docker
    region: oregon
    plan: free
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
